*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background:#6a11cb;
    font-family:Arial, Helvetica, sans-serif;
}

.container{
    width:450px;

    background:white;

    padding:30px;

    border-radius:20px;

    box-shadow:0 10px 25px rgba(0,0,0,0.2);
}

.header{
    text-align:center;
    margin-bottom:25px;
}

.header h1{
    color:#333;
    margin-bottom:10px;
}

#currentDate{
    color:#666;
}

.todo-input{
    display:flex;
    gap:10px;
    margin-bottom:20px;
}

.todo-input input{
    flex:1;

    padding:12px;

    border:2px solid #ddd;

    border-radius:10px;

    outline:none;
}

.todo-input button{
    padding:12px 18px;

    border:none;

    border-radius:10px;

    background:#6a11cb;

    color:white;

    cursor:pointer;
}

.todo-input button:hover{
    opacity:0.9;
}

#taskList{
    list-style:none;
}

.todo-item{
    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:12px;

    margin-bottom:10px;

    background:#f4f4f4;

    border-radius:10px;
}

.delete-btn{
    background:red;

    color:white;

    border:none;

    padding:6px 10px;

    border-radius:6px;

    cursor:pointer;
}
